@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;
@use "../components/buttons" as *;
@use "../abstracts/breakpoints" as *;


.about-hero {
  display: none;
  overflow: hidden;
  background-color: #FFECEF;
  background-image: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(238, 248, 252, 0.08) 40%,
          rgba(52, 168, 219, 0.93) 86%,
          #25a2d8 93%
  );

  .container {
    position: relative;
  }

  &__cloud {
    position: absolute;

    &.cloud_v6 {
      bottom: rem(199);
      left: rem(-187);
    }

    &.cloud_v9 {
      top: rem(55);
      left: rem(250);
    }

    &.cloud_v8 {
      top: rem(41);
      right: rem(20);
    }

    &.cloud_v2 {
      bottom: rem(126);
      right: rem(-130);
    }
  }

  &__inner {
    padding-top: rem(120);
    padding-bottom: rem(150);
    position: relative;
  }

  &__left {
    position: relative;
    z-index: 3;
  }

  &__right {
    position: absolute;
    top: 0;
    right: rem(-130);
    @include breakpoint(xlarge down) {
      right: 0;
    }
  }

  &__about-hero__image {

  }

  &__wrapper-img {
    width: rem(946);
    height: auto;
    @include breakpoint(xlarge down) {
      width: rem(800);
    }
    @include breakpoint(large down) {
      width: rem(640);
    }
  }

  &__info {
    position: absolute;
    top: 30%;
    right: -11%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 522px;
  }
}