@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;
@use "../components/buttons" as *;
@use "../abstracts/breakpoints" as *;

.colors-reach {
	margin-bottom: rem(179);
	@include breakpoint(large down) {
		margin-bottom: rem(42);
	}
	&__items {
		max-width: rem(1146);
		margin-left: auto;
		margin-right: auto;
	}
	&__item {
		background: $light-blue;
		margin-bottom: rem(12);
		padding: rem(38 50);
		border-radius: rem(16);
		@include breakpoint(large down) {
			padding: rem(27 20);
		}
	}
	&__meta {
		display: flex;
		justify-content: space-between;
		align-items: center;
		h6 {
			font-size: rem(22);
			@include breakpoint(large down) {
				font-size: rem(18);
			}
		}
		&-body {
			white-space: nowrap;
		}
	}
	&__note {
		font-size: rem(22);
		color: $menu-item-text;
		margin: 0;
	}
	&__number {
		margin-right: rem(10);
		font-size: rem(50);
		color: $highlight-number;
		font-family: $font-accent;
		@include breakpoint(large down) {
			margin-right: rem(4);
			font-size: rem(25);
		}
	}
	&__label {
		margin-left: rem(10);
		color: $card-text-secondary;
		font-size: rem(18);
		@include breakpoint(large down) {
			margin-left: rem(4);
			font-size: rem(12);
		}
	}
}
