@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/breakpoints" as *;

.header {
  background: rgba(235, 211, 211, 0.08);
  background: linear-gradient(
          90deg,
          rgba(235, 211, 211, 0.5) 0%,
          rgba(217, 213, 242, 0.5) 100%
  );

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    padding: rem(12, 0, 12, 0);
  }

  &__menu {

    &-list {
      list-style: none;
      padding-inline-start: 0;
      display: flex;
      gap: rem(30);
    }

    &-link {
      text-decoration: none;
      color: $menu-item-text;
      font-size: rem(18);
      @include breakpoint(small down) {
        color: red;
        font-size: rem(50);
      }

    }

    &-item--active {
      .header__menu-link {
        color: $menu-current-bg;
      }
    }
  }
}
