@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/breakpoints" as *;

.header {
  background: rgba(235, 211, 211, 0.08);
  background: linear-gradient(
          90deg,
          rgba(235, 211, 211, 0.5) 0%,
          rgba(217, 213, 242, 0.5) 100%
  );

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    padding: rem(12, 0, 12, 0);
  }

  .menu-toggle {
    position: relative;
    display: none;
    align-items: center;
    height: rem(34);
    width: rem(24);
    padding: 0;
    cursor: pointer;
    border: none;
    background: none;
    z-index: 7;

    @include breakpoint(medium down) {
      display: flex;
      justify-content: center;
      align-items: center;
    }


    .hamburger {
      position: relative;
      display: inline-block;
      width: rem(24);
      height: rem(2);
      left: 0;
      background-color: $menu-item-text;
      transition: background-color 0.3s ease;
      border-radius: rem(27);

      &::before, &::after {
        content: '';
        position: absolute;
        border-radius: rem(27);
        background-color: inherit;
        width: rem(24);
        height: rem(2);
        left: 0;
        transition: top 0.3s ease, transform 0.3s ease;
      }

      &::before {top: rem(-8)}

      &::after {top: rem(8)}
    }

    &[aria-expanded="true"] {
      .hamburger {
        background-color: transparent;

        &::before {
          top: 0;
          transform: rotate(-45deg);
          background-color: $menu-item-text;
        }

        &::after {
          top: 0;
          transform: rotate(45deg);
          background-color: $menu-item-text;
        }
      }
    }
  }

  &__menu {
    position: static;
    z-index: 2;
    @include breakpoint(medium down) {
      position: fixed;
      top: -100%;
      right: 0;
      width: 100%;
      height: auto;
      background: linear-gradient(
              90deg,
              rgba(235, 211, 211, 0.99) 0%,
              rgba(217, 213, 242, 0.99) 100%
      );
      padding: rem(50, 20);
      transition: top 0.7s ease-in-out;

      &.is-open {
        top: 0;
      }
    }

    &-list {
      list-style: none;
      padding-inline-start: 0;
      display: flex;
      gap: rem(30);
      @include breakpoint(medium down) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(20);
      }
    }

    &-link {
      text-decoration: none;
      color: $menu-item-text;
      font-size: rem(18);

    }

    &-item--active {
      .header__menu-link {
        color: $menu-current-bg;
      }
    }
  }
}
