@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;
@use "../components/buttons" as *;
@use "../abstracts/breakpoints" as *;

.home-intro {
  position: relative;
  overflow: hidden;
  margin-bottom: rem(220);


  &__wrapper {
    padding-top: rem(155);
    padding-bottom: rem(155);
    display: flex;
    justify-content: space-between;
  }

  &__brush {

  }

  &__bg-img {
    width: rem(1025);
    height: auto;

    position: absolute;
    top: 46%;
    left: 63%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
  }

  &__content {
    position: relative;
    z-index: 2;
    width: rem(560);
    margin-left: auto;

    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  &__title {
    position: relative;
    font-family: $font-accent;
    color: $menu-current-bg;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  }

  &__text {
    position: relative;
    width: rem(555.594);

    z-index: 3;

    p {
      font-size: rem(35);
    }
  }

  .btn.btn--primary {
    @include breakpoint(medium down) {
      position: relative;
      z-index: 1;
    }
  }
}