@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;
@use "../components/buttons" as *;
@use "../abstracts/breakpoints" as *;

.adaptation {
	margin-bottom: rem(153);
	@include breakpoint(large down) {
		margin-bottom: rem(120);
	}
	&__title {
		color: $menu-current-bg;
		font-size: rem(30);
		max-width: rem(1279);
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	&__cards {
		display: grid;
		max-width: rem(1416);
		grid-template-columns: repeat(4, 1fr);
		margin-left: auto;
		margin-right: auto;
		gap: rem(20);
		padding-left: rem(16);
		padding-right: rem(16);
		@include breakpoint(large down) {
			grid-template-columns: repeat(2, 1fr);
			gap: rem(40);
		}
		@include breakpoint(medium down) {
			display: block;
		}
	}
	&__card {
		padding: rem(52, 17.76, 59, 30.67);
		border-radius: rem(30);
		box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.1);
		@include breakpoint(medium down) {
			max-width: rem(365);
			width: 100%;
			margin-left: auto;
			margin-right: auto;

			&:not(:last-child) {
				margin-bottom: rem(20);
			}
		}

		&-title {
			font-family: $font-accent;
			color: $white;
			text-align: center;
			margin-bottom: rem(7);

			.adaptation__card:last-child & {
				color: $card-bg-accent3;
			}
		}
		&-subtitle {
			color: $white;
			text-align: center;
			font-size: rem(18);
			padding-bottom: rem(17);

			.adaptation__card:last-child & {
				color: $card-bg-accent3;
			}
		}
		&-line {
			height: rem(2);
			width: 100%;
		}
		&-list-title {
			color: $list-item-title;
			margin-top: rem(25);
			margin-bottom: rem(44);
			font-size: rem(36);

			.adaptation__card:last-child & {
				color: $card-title-text;
			}
		}
		&-list {
			list-style: none;
			padding: 0;
			margin: 0;
			color: $white;

			.adaptation__card:last-child & {
				color: $list-item-text;
			}
		}
		&-list-item {
			position: relative;
			padding-left: rem(36);
			font-size: rem(18);
			&:not(:last-child) {
				margin-bottom: rem(17);
			}
			&::before {
				position: absolute;
				content: "";
				background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='10.25' stroke='%23FFEC3A' stroke-width='1.5'/%3E%3Cpath d='M10.4697 14.5303C10.7626 14.8232 11.2374 14.8232 11.5303 14.5303L16.3033 9.75736C16.5962 9.46447 16.5962 8.98959 16.3033 8.6967C16.0104 8.40381 15.5355 8.40381 15.2426 8.6967L11 12.9393L6.75736 8.6967C6.46447 8.40381 5.98959 8.40381 5.6967 8.6967C5.40381 8.98959 5.40381 9.46447 5.6967 9.75736L10.4697 14.5303ZM10.25 13V14H11.75V13H10.25Z' fill='%23FFEC3A'/%3E%3C/svg%3E%0A");
				width: rem(22);
				height: rem(22);
				top: 0;
				left: 0;
			}
		}
	}
}
