@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;
@use "../components/buttons" as *;
@use "../abstracts/breakpoints" as *;

.methodologies {
  display: none;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: $card-bg-accent2 linear-gradient(180deg, rgba(37, 162, 216, 1) 41%, rgba(139, 205, 234, 1) 64%, rgba(255, 255, 255, 1) 88%);

  .cloud-item {
    position: absolute;
    z-index: -1;

    &.cloud_v1 {
      top: rem(184);
      right: rem(-40);
      @include breakpoint(medium down) {
        right: auto;
        left: rem(-59);
        top: rem(648);
        width: rem(248);
        height: rem(183);
        img {
          object-fit: scale-down;
        }

      }
    }

    &.cloud_v4 {
      top: rem(145);
      left: rem(-6);
      @include breakpoint(medium down) {
        width: rem(198);
        height: auto;
        img {
          object-fit: scale-down;
          top: rem(203);
          left: rem(-34);
        }
      }
    }

    &.cloud_v5 {
      left: rem(105);
      top: rem(522);
    }
  }

  &__inner {
    max-width: rem(1120);
    margin: 0 auto;
    padding-top: rem(119);
    padding-bottom: rem(55);
    @include breakpoint(small down) {
      padding-top: rem(40);
    }
  }

  &__title {
    font-size: rem(30);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: $white;
    margin-bottom: rem(46);
    margin-top: 0;
    text-align: center;
    -webkit-text-stroke: 1px black;
    @include breakpoint(medium down) {
      margin-bottom: rem(23);
    }
  }

  &__grid {
    max-width: rem(1120);
    grid-template-columns: repeat(auto-fit, (rem(250)));
    display: grid;
    justify-content: center;
    margin-inline: auto;
    gap: rem(40);
    @include breakpoint(medium down) {
      gap: rem(10);
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-box {
    min-width: rem(250);
    height: rem(250);
    background-color: $cards-bg-group;
    padding-left: rem(52);
    padding-right: rem(52);
    border-radius: rem(12);
    @include breakpoint(medium down) {
      min-width: 100%;
      height: 100%;
      min-height: rem(185);
      padding-left: rem(20);
      padding-right: rem(20);
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__image {
      background-color: $cards-bg-group;
      object-fit: contain;
    }

    &__text {
      font-family: $font-accent;
      color: $white;
      font-size: rem(20);
      font-weight: 100;
      text-align: center;
      line-height: 1.4;
      @include breakpoint(medium down) {
        font-size: rem(18);
      }
    }
  }
}