@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;
@use "../components/buttons" as *;
@use "../abstracts/breakpoints" as *;

.methodologies {
    background: $card-bg-accent2 linear-gradient(180deg, rgba(37, 162, 216, 1) 41%, rgba(139, 205, 234, 1) 64%, rgba(255, 255, 255, 1) 88%);

  &__inner {
    max-width: rem(1120);
    margin: 0 auto;
    padding-top: rem(119);
    padding-bottom: rem(55);
  }
  &__title {
    font-size: rem(30);
  }

  &__grid {
    max-width: rem(1120);
    grid-template-columns: repeat(auto-fit, (rem(250)));
    display: grid;
    justify-content: center;
    margin-inline: auto;
    gap: rem(40);
    @include breakpoint(medium down) {
      gap: rem(10);
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-box {
    min-width: rem(250);
    height: rem(250);
    background-color: $cards-bg-group;
    padding-left: rem(52);
    padding-right: rem(52);
    border-radius: rem(12);
    @include breakpoint(medium down) {
      min-width: 100%;
      height: 100%;
      min-height: rem(185);
      padding-left: rem(20);
      padding-right: rem(20);
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    &__image {
      background-color: $cards-bg-group;
      object-fit: contain;
    }

    &__text {
      color: $white;
      font-size: rem(20);
      font-weight: 500;
      text-align: center;
      line-height: 1.4;
      @include breakpoint(medium down) {
        font-size: rem(18);
      }
    }
  }
}