@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;
@use "../components/buttons" as *;
@use "../abstracts/breakpoints" as *;

.slider {
	position: relative;
	overflow: hidden;

	&::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: calc((100vw - 1265px) / 2);
		height: 100%;
		background: $menu-current-bg;
		z-index: 10;
		@include breakpoint(medium down) {
			content: none;
		}
	}
	.swiper.js-news-slider {
		padding-bottom: rem(135);
		overflow: visible;
		@include breakpoint(large down) {
			padding-bottom: rem(60);
		}
		@include breakpoint(medium down) {
			overflow: hidden;
		}
	}

	&__inner {
		padding-top: rem(100);
		@include breakpoint(large down) {
			padding-top: rem(60);
		}
	}
	&__top {
		position: relative;
	}
	&__navigation {
		position: absolute;
		right: rem(50);
		top: 50%;
		transform: translateZ(-50%);
	}

	&__btn {
		width: rem(50) !important;
		height: rem(40) !important;
		border-radius: rem(5);
		background: rgba($white, 0.2);

		transition: background 0.2s ease;
		.swiper-navigation-icon {
			color: $white;
			padding-top: rem(11);
			padding-bottom: rem(11);
		}

		&--next {
			right: rem(-50) !important;
			&:hover {
				background: rgba($white, 0.5);
			}
		}
		&--prev {
			left: rem(-57) !important;
			&:hover {
				background: rgba($white, 0.5);
			}
		}
	}

	&__title {
		font-family: $font-accent;
		color: $white;
		margin-bottom: rem(50);
	}
	&__image-wrapper {
		display: flex;
		justify-content: center;
		margin-bottom: rem(47);
	}
	&__image {
		width: rem(145);
		height: rem(117);
		object-fit: contain;
	}

	&__card {
		padding: rem(87, 30, 40, 30);
		background: $white;
	}

	.swiper-slide.slider__card {
		height: auto;
	}
	&__text {
		text-align: center;
		font-size: rem(23);
	}
}
