@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;
@use "../components/buttons" as *;
@use "../abstracts/breakpoints" as *;

.programs-goals {

  position: relative;
  background-color: $menu-current-bg;
  padding-bottom: rem(60);

  @include breakpoint(medium) {
    padding-top: rem(73);
    padding-bottom: rem(110);
  }

  &__decoration {
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    pointer-events: none;


    top: -23.8vw;

    @include breakpoint(medium) {
      top: -22.8vw;
    }

    &-img {
      display: block;
      width: 100%;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: rem(20);
    max-width: rem(406);
    margin: 0 auto;

    @include breakpoint(medium) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: rem(25);
      row-gap: rem(20);
      max-width: 100%;
    }

    @include breakpoint(large) {
      column-gap: rem(50);
      row-gap: rem(38);
      max-width: rem(1136);
      grid-auto-rows: rem(381);
    }
  }

  &__card {
    height: 100%;
  }

  .card {
    display: flex;
    flex-direction: column;
    border-radius: rem(20);
    padding: rem(17, 30, 30);

    @include breakpoint(small) {
      padding: rem(23, 50, 40);
    }

    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      min-height: rem(195);

      @include breakpoint(small) {
        min-height: rem(262);
      }

      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: contain;
      }
    }

    &__text {
      margin-top: auto;
      font-size: rem(20);
      line-height: 1.3;
      font-weight: 600;
      color: $card-text-primary;

      @include breakpoint(small) {
        font-size: rem(25);
      }
    }
  }
}