// src/scss/main.scss
@use "abstracts/functions" as *;
@use "abstracts/variables" as *;
@use "base/fonts";
@use "components/hero-slider";
@use "components/header";

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: $font-main;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}


main {
  flex: 1 0 auto;
}

.footer {
  margin-top: auto;
  flex-shrink: 0;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $container-padding;
  width: 100%;
}

.full {
  width: 100%;
}