/*
|----------------------
| GLOBAL SETTINGS
|----------------------
*/
$base-font-size: 16px;
$min-viewport: 375;
$max-viewport: 1516;

/*
|-----------------------------
| LAYOUT & GRID
|-----------------------------
*/
$container-max-width: 1278px;
$container-padding: 16px;

/*
|--------------------------------------
| TYPOGRAPHY
|--------------------------------------
*/
$font-main: "Poppins", sans-serif;
$font-accent: "Luckiest Guy", cursive;

/*
|--------------------------------------
| COLORS
|--------------------------------------
*/

$menu-current-bg: #752b81;
$menu-item-text: #2a3e8c;
$white: #ffffff;
$black: #000000;
$sky-blue: #90bef3;

$card-text-primary: #592861;
$highlight-number: #f53792;
$subtitle-text: #2a3e8c;
$copyright-text: #656565;
$card-text-secondary: #786a6a;
$text-main: #464646;
$text-card: #474747;

$section-bg: #134f5c;
$card-bg-primary: #b0d9ff;
$subtitle-bg: #f0f0f0;
$card-bg-accent1: #eb4354;
$card-bg-accent2: #25a2d8;
$card-bg-accent3: #ab31d6;
$cards-bg-group: #2fa1b0;
$color-journey: #ffdeee;
$phalanges: #ffa4cf;

$dot-pink: #ff77b8;
$light-blue: #e0edfa;
$card-title-text: #aba8a8;
$list-item-text: #9c9898;
$list-item-check: #ebc500;
$list-item-title: #ffec3a;
// $alex-test: #ffec3a;

$facebook-bg: #1877f2;
$twitter-bg: #1d9bf0;
$linkedin-bg: #0a66c2;
$youtube-bg: #ff0000;
