/*
|----------------------
| GLOBAL SETTINGS
|----------------------
*/
$base-font-size: 16px;
$min-viewport: 375;
$max-viewport: 1516;

/*
|-----------------------------
| LAYOUT & GRID
|-----------------------------
*/
$container-max-width: 1278px;
$container-padding: 16px;

/*
|--------------------------------------
| TYPOGRAPHY
|--------------------------------------
*/
$font-main: 'Poppins', sans-serif;
$font-accent: 'Luckiest Guy', cursive;


/*
|--------------------------------------
| COLORS
|--------------------------------------
*/

$menu-current-bg: #752B81;
$menu-item-text: #2A3E8C;
$white: #ffffff;
$black: #000000;


$card-text-primary: #592861;
$highlight-number: #F53792;
$subtitle-text: #2A3E8C;
$copyright-text: #656565;
$card-text-secondary: #786A6A;
$text-main: #464646;
$text-card: #474747;


$section-bg: #134F5C;
$card-bg-primary: #B0D9FF;
$subtitle-bg: #F0F0F0;
$card-bg-accent1: #EB4354;
$card-bg-accent2: #25A2D8;
$card-bg-accent3: #AB31D6;
$cards-bg-group: #2FA1B0;


$dot-pink: #FF77B8;
$light-blue: #E0EDFA;
$card-title-text: #ABA8A8;
$list-item-text: #9C9898;
$list-item-check: #EBC500;


$facebook-bg: #1877F2;
$twitter-bg: #1D9BF0;
$linkedin-bg: #0A66C2;
$youtube-bg: #FF0000;

